# ==================================================
# DATA LAKE (NO VERSIONAR)
# ==================================================
data/*

# Re-habilitar estructura mínima
!data/
!data/catalogs/
!data/catalogs/*.csv
!data/catalogs/*.txt


# ==================================================
# LOGS
# ==================================================
logs/
!logs/.gitkeep


# ==================================================
# JUPYTER
# ==================================================
.ipynb_checkpoints/
**/.ipynb_checkpoints/


# ==================================================
# PYTHON
# ==================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/


# ==================================================
# ENTORNOS VIRTUALES
# ==================================================
.venv/
venv/
env/


# ==================================================
# SISTEMA OPERATIVO
# ==================================================
.DS_Store
Thumbs.db


# ==================================================
# EDITORES / IDEs
# ==================================================
.vscode/
.idea/


# ==================================================
# ARCHIVOS TEMPORALES
# ==================================================
*.log
*.tmp
*.bak
