# ==================================================
# DATA LAKE (NO VERSIONAR)
# ==================================================
data/
logs/

# --------------------------------------------------
# Re-habilitar estructura mínima y catálogos ligeros
# --------------------------------------------------
!data/
!data/catalogs/

# Catálogos versionados
!data/catalogs/*.csv
!data/catalogs/hs2_capitulos.txt

# (opcional) si luego quieres versionar más .txt específicos
# !data/catalogs/otro_catalogo.txt

# ==================================================
# LOGS
# ==================================================
logs/
!logs/.gitkeep


# ==================================================
# JUPYTER
# ==================================================
.ipynb_checkpoints/
**/.ipynb_checkpoints/


# ==================================================
# PYTHON
# ==================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/


# ==================================================
# ENTORNOS VIRTUALES
# ==================================================
.venv/
venv/
env/


# ==================================================
# SISTEMA OPERATIVO
# ==================================================
.DS_Store
Thumbs.db


# ==================================================
# EDITORES / IDEs
# ==================================================
.vscode/
.idea/


# ==================================================
# ARCHIVOS TEMPORALES
# ==================================================
*.log
*.tmp
*.bak
